body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #FFF3FF
}

h1 {
  font-weight: lighter;
  font-size: 38px;
  letter-spacing: 4px;
  margin-bottom: 0px;
  color: purple
}

h3 {
  margin-bottom: 10px;
}

.inputsection {
  margin: 20px 0px 20px 0px;
  width: 300px;
}

.inputs{
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

button {
  color: white;
  background-color: purple;
  line-height: 2;
  padding: 0 17px;
  border-radius: 4px;
  font-variant-caps: titling-caps;
}

.addoption{
  margin-top: 10px;
}

.skickaknapp {
  margin-top: 5px;
}
